body {
	margin: 0;
	padding: 5px;
}

.inputs {
	width: 100%;
}

.dataGrid{
	margin-top:10px; 
	padding: 10px !important; 
	border: none;
}

.lista {
	-webkit-print-color-adjust: exact;
	background: url(../imagens/fundo4.jpg) no-repeat;
	width: 295px;
	height: 115px !important;
	box-sizing: border-box;
	/*margin-bottom:5px;*/
	margin: 10px;
	box-sizing: content-box;
}

.descricao {
	color: #964B3E !important;
	width: 45%;
	padding: 0px;
	font-size: 1.1em;
	float: left;
	text-align: left;
	margin-left: 8px;
	margin-top: 20px;
	box-sizing: border-box;
}

.preco {
	width: 40%;
	padding: 0px;
	float: right;
	color: #964B3E !important;
	font-size: 1.5em;
	font-weight: bolder;
	text-align: left;
	margin-right: 4px;
	margin-top: 50px;
	box-sizing: border-box;
}

.ui-widget-content {
	border: 1px solid rgba(255, 255, 255, 0.8) !important;
}