<!DOCTYPE html>
<html xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

	<h:head>
		<meta charset="UTF-8" />
		<meta name="author" content="Yuri Ramalho Pinheiro" />
	
		<link rel="stylesheet" href="resources/css/styles.css" />
	
		<title>Etiquetas</title>
	</h:head>

	<h:body>
	
		<h:form id="formulario">
			<p:panelGrid columns="5" styleClass="ui-noborder inputs">
	
				<p:outputLabel value="Produto" />
				<p:inputText value="#{produtoBean.produto.descricao}" required="true"
					maxlength="35" />
	
				<p:outputLabel value="Preço" />
				<p:inputText value="#{produtoBean.produto.preco}" required="true"
					maxlength="8" />
	
				<p:commandButton value="adicionar"
					action="#{produtoBean.adicionar()}" update="@form" />
	
			</p:panelGrid>
	
			<p:dataGrid id="lista" value="#{produtoBean.produtos}" var="produto"
				columns="3" paginator="true" paginatorAlwaysVisible="false"
				rowsPerPageTemplate="10" emptyMessage="Nenhum produto"
				styleClass="dataGrid">
				
				<div class="lista">
					
					<p class="descricao">#{produto.descricao}</p>
					
					<span class="preco">#{produto.preco}</span>
				
				</div>
	
			</p:dataGrid>
	
		</h:form>
	
	</h:body>
</html>